body {
  background-color: #111;
}

.bannerImage {
  height: 325px;
  background-color: aquamarine;
  background-image: url("./imgs/bannerImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: black;
}

.custom-card-image {
  height: 200px;
}

.card {
  color: white;
  background-color: #111;
  box-shadow: 0 0 15px #3116b1;
}

.btn {
  background-color: #3919c4;
  color: white;
}

/*Estilos para Carrito de Compras*/

.list-group {
  max-width: 100% !important;
}